src/ExpenseTracker/ExpenseTracker.Desktop/Service References/ExpenseServiceReference/ExpenseService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ExpenseTracker.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ExpenseTracker.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Expense">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Currency" type="tns:Currency" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Expense" nillable="true" type="tns:Expense" />
  <xs:simpleType name="Currency">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BGN" />
      <xs:enumeration value="EUR" />
      <xs:enumeration value="USD" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Currency" nillable="true" type="tns:Currency" />
  <xs:complexType name="ArrayOfExpense">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Expense" nillable="true" type="tns:Expense" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpense" nillable="true" type="tns:ArrayOfExpense" />
</xs:schema>